.subtext {
  font-family: HKGrotesk;
  font-size: 19px;
  font-weight: 500;
}

.input-group-append {
  display: none !important;
}

.modal-header {
  border: none !important;
}

.title {
  font-family: HKGrotesk;
  font-size: 27px;
  font-weight: bold;
  color: #2a3844;
}

.typeOfProject {
  display: flex;
}

/* .categoryList {
  display: table-row;
} */

.Start-a-Project {
  font-family: HKGrotesk;
  font-size: 19px;
  font-weight: 500;
  color: #5d677e;
}

.projectTitle {
  font-family: HKGrotesk;
  font-size: 17px;
  font-weight: bold;
}

.projectCard {
  /* padding: 20px; */
  border: solid 1px #dde2e9;
  border-radius: 6px;
}

.projectCardActive {
  border: solid 1px #16c0ef;
}

.categoryCard {
  border: solid 1px #dde2e9;
  border-radius: 6px;
}

.countryInput {
  width: 35%;
}

.cityInput {
  width: 30%;
}

.startDateInput {
  padding: 0px 0px 0px 12px !important;
}

.endDateInput {
  padding: 0px 0px 0px 12px !important;
}

.info-ico {
  margin: auto;
  display: block;
}

.radio-button-default {
  background: url('../img/radio-unchecked.png') no-repeat 0;
  background-position: right top;
  float: right;
  height: 24px;
}

.radio-button-on-click {
  background: url('../img/radio-checked.png') no-repeat 0;
  background-position: right top;
  float: right;
  height: 24px;
}

.crowdfunding_img {
  background: url('../img/crowdfunding.png') no-repeat 0;
  height: 96px;
  background-position: center;
}

.crowdfunding_img_hover {
  background: url('../img/crowdfunding-active.png') no-repeat 0;
  height: 96px;
  background-position: center;
}

.crowdfunding_img_hover_on_click {
  background: url('../img/crowdfunding-active.png') no-repeat 0;
  height: 96px;
  background-position: center;
}

.form-control:focus {
  box-shadow: none !important;
}

.promotions_img {
  background: url('../img/promotions.png') no-repeat 0;
  height: 96px;
  background-position: center;
}

.promotions_img_hover {
  background: url('../img/promotions-active.png') no-repeat 0;
  background-position: center;
  height: 96px;
}

.promotions_img_hover_on_click {
  background: url('../img/promotions-active.png') no-repeat 0;
  background-position: center;
  height: 96px;
}

.socialgiving_img {
  background: url('../img/socialgiving.png') no-repeat 0;
  background-position: center;
  height: 96px;
}

.socialgiving_img_hover {
  background: url('../img/socialgiving-active.png') no-repeat 0;
  background-position: center;
  height: 96px;
}

.socialgiving_img_hover_on_click {
  background: url('../img/socialgiving-active.png') no-repeat 0;
  background-position: center;
  height: 96px;
}

.socialchange_img {
  background: url('../img/socialchange.png') no-repeat 0;
  background-position: center;
  height: 96px;
}

.socialchange_img_hover {
  background: url('../img/socialchange-active.png') no-repeat 0;
  background-position: center;
  height: 96px;
}

.socialchange_img_hover_on_click {
  background: url('../img/socialchange-active.png') no-repeat 0;
  background-position: center;
  height: 96px;
}

.noteinstr {
  float: right;
}

.projectCard:hover {
  border: solid 1px #16c0ef;
}

.projectCard-active {
  border: solid 1px #16c0ef;
  border-radius: 6px;
}

.close {
  font-family: HKGrotesk !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #7c8796 !important;
}

.proceedButton {
  width: 252px;
  height: 50px;
  border-radius: 3px !important;
  background-color: #16c0ef !important;
  color: white !important;
  font-weight: bold !important;
}

.backButton {
  width: 252px;
  height: 50px;
  border-radius: 3px !important;
  border: solid 1px #e0e6ee !important;
  color: #16c0ef !important;
  font-weight: bold !important;
}

.proceedFooter {
  display: flex !important;
  justify-content: center !important;
}

.newProjectHeader {
  display: flex !important;
  justify-content: space-between !important;
}

.modal-card-head {
  background-color: #ffffff !important;
}

.project-title-input {
  font-family: HKGrotesk;
  font-size: 17px !important;
  font-weight: 600 !important;
  color: #2a3844 !important;
}

.syne-inputbox {
  border-radius: 3px;
  padding: 0px 0px 0px 12px;
  border: solid 1px #dde2e9;
}

.syne-project-description {
  border: none !important;
  font-family: HKGrotesk;
  font-size: 17px !important;
  font-weight: 600 !important;
  color: #2a3844 !important;
}

.Short-description-ab {
  font-family: HKGrotesk;
  font-size: 17px;
  font-weight: 600;
  color: #bac3cf;
  padding: 10px 0px 0px 12px;
}

.syne-input-label {
  font-family: HKGrotesk;
  font-size: 13px;
  font-weight: 500;
  color: #7c8796;
  padding: 0px 0px 0px 12px;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: none !important;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 12px;
}

.popular-categories {
  font-size: 15px;
  font-weight: bold;
  color: #bac3cf;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #16c0ef !important;
  transition: width .6s ease;
}

/* //Post Page// */

.post-page-bg {
  background-color: #f9fafc;
}

.post-page-header {
  background-color: #ffffff;
  border-bottom: 1px #f9fafc;
}

.coverPhoto {
  height: 104px;
}

.user-name {
  font-family: HKGrotesk;
  font-size: 13px;
  color: #7c8796;
}

.post-card {
  border-radius: 4px;
  border: solid 1px #e0e6ee;
  background-color: #ffffff;
}

.recommended-projects-text {
  font-family: HKGrotesk;
  font-size: 15px;
  font-weight: bold;
  color: #2a3844;
}

.recommndede-project-photo {
  height: 67px;
}

.like-share {
  font-size: 13px;
}

.like-comment {
  font-size: 14px;
}

.recommended-project-disc {
  font-family: HKGrotesk-reg;
  font-size: 12px;
  color: #5d677e;
}

.recommended-project-name {
  font-family: HKGrotesk;
  font-size: 15px;
  font-weight: 600;
  color: #2a3844;
}

.full-name {
  font-family: HKGrotesk;
  font-size: 15px;
  font-weight: bold;
  color: #2a3844;
}

.hello-user-text {
  font-family: HKGrotesk;
  font-size: 20px;
  font-weight: bold;
  color: #2a3844;
}

.write-post-text {
  font-family: HKGrotesk;
  font-size: 15px;
  font-weight: bold;
}

.menu-items {
  font-family: HKGrotesk;
  font-size: 13px;
  font-weight: 600;
  color: #5d677e;
}

.menu-items-wrapper {
  margin: 0 -1.5rem;
}

.menu-items div {
  cursor: pointer;
}

.menu-items a, .menu-items a:hover {
  cursor: pointer;
  color: #5d677e;
  text-decoration: none;
}

.menu-items a.active {
  background-color: rgba(22, 192, 239, 0.2);
  border-left: 3px solid rgb(22, 192, 239);
}

.post-image {
  height: 199px;
}

.recommended-project-photo {
  height: 93px;
}

.post-project-caption {
  font-family: HKGrotesk;
  font-size: 17px;
  color: #0db2e0;
  font-weight: bold;
}

.view-more {
  font-family: HKGrotesk;
  font-size: 13px;
  color: #16c0ef;
  cursor: pointer;
}

.follow-people {
  font-size: 11px;
  color: #7c8796;
}

.target-amount {
  font-size: 13px;
}

.contributors-comment {
  font-size: 13px;
  color: #2a3844;
}

.post-project-desc {
  font-family: HKGrotesk-reg;
  font-size: 13px;
  color: #5d677e;
  font-weight: normal;
}

.raised-amount {
  font-family: HKGrotesk;
  font-size: 13px;
  font-weight: bold;
  color: #2a3844;
}

.post-user {
  font-weight: bold;
  font-size: 15px;
}

.post-user-name {
  font-size: 12px;
  color: #5d677e;
}

.modal-title {
  font-family: HKGrotesk;
  color: #2a3844;
  font-size: 15px;
}

.modal-close-text {
  color: #7c8796;
  font-size: 14px;
  font-family: HKGrotesk;
}

.follower-modal-height {
  max-height: 339px;
  overflow-y: auto;
}

.post-time {
  font-size: 12px;
  color: #7c8796;
}

.follower-count {
  font-weight: bold;
  color: #16c0ef !important;
}

.followers-count {
  font-size: 12px;
  color: #7c8796;
}

.writePost {
  border-radius: 4px;
  border: solid 1px #e0e6ee;
  background-color: #ffffff;
}

.raised-amount-text {
  font-size: 12px;
  font-weight: bold;
  color: #2a3844;
  font-family: HKGrotesk;
}

.raised-amount-percentage {
  font-size: 12px;
  font-weight: bold;
  color: #16c0ef;
  font-family: HKGrotesk;
}

.dropzone {
  min-height: auto !important;
  border: solid 2px #bac3cf !important;
}

.add-more-photos {
  position: relative;
  height: 174px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 10px #ffffff;
  border: dashed 2px #bac3cf;
  background-color: #f7f8fa !important;
}

.project-icon-upload {
  position: relative !important;
  width: 120px !important;
  height: 120px !important;
  border-radius: 60px !important;
  box-shadow: inset 0 0 0 10px #ffffff !important;
  border: dashed 2px #bac3cf !important;
  background-color: #f7f8fa !important;
}

.drag-in-photos {
  font-family: HKGrotesk;
  font-size: 13px;
  color: #7c8796;
}

.top-padding {
  padding-top: 33px;
}

/* .project-detail-characters-left {} */

.attachMediaButton {
  width: 252px;
  height: 50px;
  border-radius: 3px !important;
  border: solid 1px #e0e6ee !important;
  color: #5d677e !important;
  font-weight: bold !important;
}

input[type=number], input[type=number] {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* category slider classes */

.col-md-3 {
  display: inline-block;
  margin-left: -4px;
}

.col-md-3 img {
  width: 100%;
  height: auto;
}

body .carousel-indicators li {
  background-color: red;
}

body .carousel-control-prev-icon, body .carousel-control-next-icon {
  background-color: red;
}

body .no-padding {
  padding-left: 0;
  padding-right: 0;
}

.carousel-indicators li {
  visibility: hidden;
}

.follower-text {
  font-size: 13px;
  font-family: HKGrotesk-reg;
  color: #7c8796 !important;
  font-weight: normal !important;
}

.welcome-to-syne {
  font-size: 13px;
  color: #fb4f6d;
  font-family: HKGrotesk;
}

.image-upload>input {
  display: none;
}

.organisation-image {
  max-height: 90px;
  border: 2px solid white;
  border-radius: 50%;
}

.organisation-add-text {
  color: #7c8796;
  font-weight: bold;
  font-size: small;
}

.org-form-input {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #2a3844 !important;
  padding: 0px 0px 0px 12px !important;
}

.org-form-select {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #2a3844 !important;
  padding: 0px 0px 0px 12px !important;
  border: none;
  width: 100%;
}

.org-url-box {
  background-color: lightgray;
  padding: 5px 0px 5px 5px;
  border-radius: 6px;
}
.payment-container{
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(57, 64, 79, 0.1);
    background-color: #ffffff;
}

.donate-to-text{
    font-family: HKGrotesk;
    font-size: 20px;
    font-weight: bold;
    color: #2a3844;
}

.payment-amount-text-box{
    border-radius: 5px;
    padding: 0px 0px 0px 12px;
    border: solid 1px #16c0ef;
}

.syne-credit-amount{
    background-color: grey;
    border-radius: 3px;
    min-width: 43px;
    padding-left: 5px;
    padding-top: 3px;
    height: 21px;
}

.payment-methods{
    border-radius: 4px;
    border: 1px solid #e0e6ee;
    height: fit-content;
    font-weight: bold;
    font-size: 13px;
}

.notify-text{
    font-size: 9px;
    width: 67%;
    margin-left: 68px;
}
.w-65{
  width: 65% !important;
}
.m-74{
  margin-left: 74px !important;
}

.grey-text{
  color: #7c8796;
}
.print-text:hover{
  cursor: pointer;
}
.payment-input-label{
    font-family: HKGrotesk;
    font-size: 13px;
    color: #7c8796;
    padding: 0px 0px 0px 12px;
}
.sign-in-text{
  font-weight: bold;
  color: #16c0ef;
  font-size: 12px;
}
.sign-in-text:hover{
  cursor: pointer;
}

.comment-options {
  display: none;
}

.comment-section:hover .comment-options  {
  display:block;
}

.project-date-text {
  font-size: 11px;
  color: #7c8796;
 
}
.project-date {
  font-size: 13px;
  color: #2a3844;
 
}
.payment-page-icon{
  position: relative;
  left: 40%;
  max-height: 140px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: -65px;
}

#backBtn:hover {
  cursor: pointer;
}


