.email-verified-text {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.39px;
    color: #16c0ef;
}

.edit-icon-text {
    color: #16c0ef !important;
}
.mobile-number {
    font-weight: bold;
}

@media(max-width: 768px) { 
    .email-verified-text {
        font-size: 28px;
        line-height: 1.33;
        letter-spacing: 0.39px;
        color: #16c0ef;
    } 
}