.custom-radio .custom-control-label::before,
.custom-control-label::after,
.custom-checkbox .custom-control-label::before {
    margin-top: -7px !important;
}

.payment-amount-text-box.w-65 {
    min-width: 150px !important;
}

.mw-150 {
    min-width: 150px !important;
}

.c-6 {
    flex: 1 1 50% !important;
}

.c-5 {
    flex: 1 1 41.666667% !important;
}

.form-width {
    max-width: 500px;
    min-width: 250px;
}

.bg-white {
    background-color: #ffffff;
}

.last-step-msg {
    max-width: 500px;
}

.mobile-wrappper select {
    border: 1px solid #e0e6ee!important;
    padding: 2px 8px 0;
    font-size: 13px;
    font-weight: bold;
    color: #5d677e;
}

.payments-2 input {
    width: 100%;
}

.payments-2 .pay-amt-box {
    position: relative;
    padding: 0px;
}

.pay-amt-box img {
    height: 18px;
    position: absolute;
    left: 8px;
}

.pay-amt-box input {
    padding: 0px 30px;
}

.one-last-step-text {
    font-size: 26px;
    color: #395366;
    font-family: HKGrotesk;
}

.one-last-step-desc {
    font-size: 16px;
    color: #46697f;
}

.conditions-highlight {
    color: #16c0ef;
}

.your-email-text {
    font-size: 11px;
    color: #919dac;
}

.email-text {
    font-size: 16px;
    color: #2e404e;
    font-family: HKGrotesk;
}

.terms-conditions-text {
    font-size: 11px;
    color: #606060;
}

.payment-container-guest-user {
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(57, 64, 79, 0.1);
    background-color: #ffffff;
}

.verify-text {
    font-size: 12px;
    color: #16c0ef;
}

.payments {
    width: 54%;
    padding-bottom: 100px;
}

.payments .notify-text span {
    line-height: 1.8!important;
}

.bg-white {
    background-color: #fff!important;
}

.payments .payment-methods .custom-control {
    padding: 0px 25px!important;
}

.payments .user-na {
    color: #7c8796;
    font-size: 13px;
    font-weight: bold;
}

.payments .payment-methods {
    width: 100%;
    position: relative;
}

.payments .payment-input-label {
    position: absolute;
    top: 0;
    z-index: 22;
}

.payments .payment-methods input {
    height: 55px;
    padding: 17px 12px 0;
    border: none;
}

.payments .payment-methods input:focus {
    border: 1px solid #16c0ef!important;
}

.payment-scn-3 .payment-container-guest-user {
    width: 50%;
}

.payment-scn-3 .rcpt {
    color: #4d748c;
    font-weight: bold;
}

.payment-scn-3 .one-last-step-desc {
    font-weight: 600;
    color: #4d748c;
    font-size: 14px;
}

.pay-3 {
    width: 60%;
}

.payment-scn-3 .verify-text {
    position: absolute;
    right: 0px;
}

.payment-scn-3 .pwd-strngth {
    padding: 1.5px 0px;
    background: #e0e6ee;
    width: 60px;
    margin: 3px 2px;
}

.payment-scn-3 .terms-conditions-text {
    font-weight: 500;
    font-size: 10px;
}


/* payement-logged-in user */

.wallet-details h1,
.cd-details h1 {
    font-family: HKGrotesk-reg;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #5d677e;
}

.payment-methods label {
    cursor: pointer;
    color: #7c8796!important;
}


/* .w-btn-active {
    background-color: #16c0ef;
}

.wallet-active {
    border: 1px solid #16c0ef;
    background: #ebfbff;
} */

.wallet-row .wallet {
    border-radius: 4px;
    border: solid 1px #eef0f5;
    background-color: #ffffff;
    text-align: center;
    padding: 7px;
    border: solid 1px #16c0ef;
  background-color: #ebfbff;
}

.wallet-row .wallet-selected {
    border-radius: 4px;
    text-align: center;
    padding: 7px;
    border: solid 1px #16c0ef;
    background-color: #ebfbff;
}

.wallet-row .bank {
    padding: 7px 14px;
}

.wallet-row .wallet .w-prof {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #eef0f5;
    margin: 0 auto;
}


.wallet-row.wallet-row .w-prof .icon {
    position: relative;
    top: 12px;
    object-fit: contain;
    width: 24px;
}

.wallet-row .wallet label {
    font-family: HKGrotesk-reg;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-align: center;
    color: #5d677e;
    text-transform: uppercase;
}

.payment-methods,
.payment-amount-text-box {
    width: 85%;
    position: relative;
}

.payment-methods .custom-control {
    padding: 10px!important;
    position: relative;
}

.payment-container {
    position: relative;
}

.w-btn {
    background: url('../img/lock-white.png');
    background-repeat: no-repeat;
    background-position: 41px 8px;
    background-color: #d8d8d8!important;
}

.custom-control .lbl img {
    position: absolute;
    right: 10px;
}

.custom-control .lbl .p-icon {
    position: absolute;
    left: -4px;
    top: 6px;
}

.custom-control .upid {
    position: relative;
    height: 50px;
    margin-top: 20px;
}

.upid label {
    position: absolute;
    left: 11px;
    top: 3px;
    line-height: 1.45;
    letter-spacing: 0.15px;
    color: #606060!important;
}

.upid input {
    padding: 17px 0 0px 13px;
    height: 48px;
}

.cd-details .new-card {
    margin-top: 16px;
    text-align: center;
    border: 1px solid #16c0ef;
}

.cd-details .new-card .nw-btn {
    color: #16c0ef;
    outline: #16c0ef;
    width: 100%;
}

.cd-details .nw-btn label {
    font-family: HKGrotesk;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #16c0ef!important;
}

.new-card-details .cd-no {
    height: 45px;
    margin: 15px 0;
}

.cd-no label {
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: 0.15px;
    color: #606060!important;
}

.cd-no input {
    padding: 16px 7px 0px;
    height: 43px;
}

.p-select {
    background: url('../img/arrow-down-grey.png');
    background-repeat: no-repeat;
    background-position: 250px 12px;
    background-size: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.upid input:focus,
.cd-no input:focus,
.new-card-details .exp-date input:focus,
.new-card-details .cvv input:focus {
    border: 1px solid #16c0ef!important;
}

.new-card-details .cvv {
    width: 73px;
    margin-left: 13px
}

.new-card-details input::placeholder {
    font-family: HKGrotesk-reg;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #bac3cf!important;
}

.cd-details label {
    font-family: HKGrotesk;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.19px;
    color: #2a3844;
}

.cd-details label span {
    color: #bac3cf!important;
}

.cd-details label strong {
    color: #5d677e!important;
}

.up p {
    font-family: HKGrotesk;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #16c0ef;
    text-align: right;
    cursor: pointer;
    margin-top: 5px;
}

.del-btn {
    position: absolute;
    right: 5px;
}

.del-btn button {
    background-color: #fff;
    outline: none;
    font-family: HKGrotesk;
    font-size: 12px;
    color: #e36c81;
    border: none;
}

.del-btn button:focus {
    border: none;
    outline: none;
}

.cvv-bank input {
    width: 65px;
    margin-right: 6px;
}

.c-page-2 .payment-container {
    position: relative;
}

@media(max-width: 768px) {
    .bg-grey-light {
        background-color: #ffffff !important;
    }
    .p-select {
        background-position: 200px 12px!important;
    }
    .head_sch {
        margin-top: 25px;
    }
    .back-btn {
        width: 80px;
    }
    .pay-custom {
        width: 100%;
    }
    .payments {
        width: 100%;
    }
    .payments input {
        width: 100%;
    }
    .payment-scn-3 .payment-container-guest-user {
        width: 100%;
    }
    .payment-scn-3 .last-step-msg {
        justify-content: start!important;
    }
    .payment-scn-1 .bg-grey-payment-guest-light,
    .payments-2 .bg-grey-payment-guest-light {
        padding: 0 10px!important;
    }
    .payments-2 .donate-scn {
        min-width: 310px;
    }
}

@media(max-width: 414px) {
    .pay-custom {
        width: 85%;
    }
    .wallet-row .wallet label {
        font-size: 12px;
    }
}

@media(max-width:600px) {
    .payment-scn-1 .bg-grey-payment-guest-light,
    .payments-2 .bg-grey-payment-guest-light {
        padding: 0!important;
    }
    .payment-scn-1 .donate-scn,
    .payments-2 .donate-scn {
        min-width: 320px!important;
        width: 100%;
        margin-top: 0px;
    }
    .payment-scn-3 .payment-container-guest-user {
        width: 100%;
    }
    .pay-3 {
        width: 100%;
    }
    .payment-scn-3 .last-step-msg {
        margin: 0 14px!important;
    }
}