.custom-radio .custom-control-label::before, .custom-control-label::after, .custom-checkbox .custom-control-label::before {
    margin-top: -7px !important;
}

.payment-amount-text-box.w-65 {
    min-width: 150px !important;
}

.mw-150 {
    min-width: 150px !important;
}

.c-6 {
    flex: 1 1 50% !important;
}

.c-5 {
    flex: 1 1 41.666667% !important;
}

.form-width {
    max-width: 500px;
    min-width: 250px;
}

.bg-white {
    background-color: #ffffff;
}

.last-step-msg{
    max-width: 500px;
}

.one-last-step-text {
    font-size: 26px;
    color: #395366;
    font-family: HKGrotesk;
}

.one-last-step-desc {
    font-size: 16px;
    color: #46697f;
}

.conditions-highlight {
    color: #16c0ef;
}

.your-email-text {
    font-size: 11px;
    color: #919dac;
}

.email-text {
    font-size: 16px;
    color: #2e404e;
    font-family: HKGrotesk;
}

.terms-conditions-text {
    font-size: 11px;
    color: #606060;
}

.payment-container-guest-user {
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(57, 64, 79, 0.1);
    background-color: #ffffff;
}

@media(max-width: 768px) { 
    .bg-grey-light {
        background-color: #ffffff !important;
    } 
}
