.project-preview-title {
    font-size: 28px;
    color: #2a3844;
    font-family: HKGrotesk;
}

.project-preview-sub-title {
    font-size: 13px;
    color: #7c8796;
}

.email-activation {
    /* height: 159px; */
    background-color: #e3f9ff;
}

.email-activation-title {
    font-family: HKGrotesk;
    font-size: 23px;
    color: #2a3844;
}

.email-activation-text {
    font-size: 15px;
    color: #2a3844;
}

.email-activation-action-text {
    font-family: HKGrotesk;
    font-size: 15px;
    color: #16c0ef;
}

.email-activation-mail {
    font-family: HKGrotesk;
}

.project-preview-desc {
    font-size: 15px;
    color: #2a3844;
}

.project-preview-primary-desc {
    font-family: HKGrotesk;
}

.preview_btn {
    font-family: HKGrotesk;
    border-radius: 8px;
    font-size: 10px;
    position: absolute;
    right: 30px;
    top: -8px;
    padding: 1px 7px;
    border: none;
    font-size: 12px;
    color: #ffa84e;
    background-color: #ffd099;
    outline: none;
}

.preview_btn:focus {
    outline: none;
}

.project-link {
    background-color: #f2f4f7;
}

.raised-amount {
    font-size: 23px;
    color: #2a3844;
}

.taret-amount-desc {
    font-size: 13px;
    color: #5d677e;
    font-family: HKGrotesk-reg;
}

.btn_save_publish .draft_btn {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.17px;
    color: #16c0ef;
    border: 1px solid #16c0ef;
    background-color: #fff;
    padding: 8px 18px 8px 32px;
    background-image: url('../img/save-blue.png');
    background-size: 15px;
    background-position: 9px 11px;
    background-repeat: no-repeat;
    margin: 0 10px;
}

.draft_btn:focus {
    box-shadow: none!important;
}

.btn_save_publish {
    position: relative;
    left: 300px;
}

.btn_save_publish .publish_btn {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.17px;
    color: #fff;
    background-color: #16c0ef;
    padding: 8px 18px 8px 32px;
    background-image: url('../img/svgImages/export-white.svg');
    background-size: 15px;
    background-position: 9px 11px;
    background-repeat: no-repeat;
}

.publish_btn:hover {
    color: #fff!important;
}

.publish_btn:focus {
    box-shadow: none!important;
}

.draft_btn:hover {
    color: #16c0ef!important;
}

.fund-btn {
    border-radius: 3px !important;
    background-color: #e0e6ee !important;
    color: white !important;
    font-weight: bold !important;
}

.donateButton {
    /* height: 40px; */
    border-radius: 3px !important;
    background-color: #e0e6ee !important;
    color: white !important;
    font-weight: bold !important;
    display: flex;
    align-items: center;
}

.lock {
    width: 17px!important;
    position: relative;
    bottom: 3px;
}

.support_btn {
    border-radius: 3px !important;
    background-color: #e0e6ee !important;
    color: white !important;
    font-weight: bold !important;
}

.Like_btn {
    border-radius: 3px !important;
    background-color: #e0e6ee !important;
    color: white !important;
    font-weight: bold !important;
    display: flex;
    align-items: center;
}

.Like_btn img {
    width: 14px;
    position: relative;
    bottom: 1px;
}

.social {
    font-size: 17px;
    color: #2a3844;
    padding: 10px 0 0 0px;
}

.time-out {
    font-size: 11px;
    text-align: center;
}

.view-count {
    font-size: 17px;
    font-family: HKGrotesk;
    color: #2a3844;
}

.donors-text {
    font-size: 13px;
    color: #5d677e;
}

.project-preview-amount-raised-percentage {
    font-size: 13px;
    font-weight: bold;
    color: #2a3844;
}

.project-preview-amount-raised-time {
    font-size: 13px;
    color: #fb4f6d;
}

.date-wrapper .date .active {
    padding: 5px 0;
    background: #16c0ef;
    color: #fff;
    font-size: 10px;
}

.date-wrapper .date {
    width: 45px;
    text-align: center;
    border-radius: 2px;
    border: solid 1px #395366;
    margin-top: 10px;
    display: inline-block;
}

.gj-picker.gj-picker-md.datepicker.gj-unselectable {
    top: 1024px;
}

.oval {
    width: 17px;
    height: 17px;
    border: solid 4px #16c0ef;
    background-color: #ffffff;
}

.title-milestone {
    border-radius: 3px;
    border: solid 1px #16c0ef;
    background-color: #ffffff;
    height: 54px;
}

.title-datewrapper img {
    height: 24px;
    width: 24px;
}

.title-datewrapper #startDatepicker {
    padding: 0!important;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.21px;
    color: #bac3cf!important;
    border: none;
}

.gj-icon {
    display: none!important;
}

textarea {
    height: 200px;
    border-radius: 3px;
    border: solid 1px #e0e6ee;
    background-color: #ffffff;
    resize: none !important;
}

.text-editor-wrapper .btn img {
    width: 12px;
}

.text-editor-wrapper {
    padding: 20px 0 115px;
    position: relative;
}

.text-editor-wrapper .btn img {
    width: 12px;
}

.text-editor-wrapper .btn {
    padding: 0 8px;
    background-color: transparent;
    border-radius: 0px!important;
    border-right: 1px solid #e9e9e9;
}

.text-editor-wrapper .buttons {
    padding: 5px 0;
    background: #f6f6f6;
    position: relative;
    border: 1px solid #e0e6ee;
}

.text-editor-wrapper .buttons span {
    cursor: pointer;
}

.text-editor-wrapper .buttons span img {
    position: relative;
    top: 3px;
    right: 6px;
    cursor: pointer;
}

.text-editor-wrapper textarea {
    resize: none;
    border-radius: 3px;
    border: solid 1px #e0e6ee;
    background-color: #ffffff;
    outline: none;
    padding: 20px;
    border-top: none;
}

.text-editor-wrapper .action-btn .btn {
    font-size: 15px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    line-height: 1.47;
    letter-spacing: 0.17px;
    color: #7c8796;
    margin: 0 20px;
    border: none!important;
}

.text-editor-wrapper .action-btn .active {
    font-size: 15px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    line-height: 1.47;
    letter-spacing: 0.17px;
    color: #fff;
    background-color: #16c0ef;
    padding: 8px 10px;
    border-radius: 5px!important;
}

.text-editor-wrapper .action-btn {
    position: absolute;
    right: 0;
    bottom: 55px;
}

.Rectangle {
    font-size: 15px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    line-height: 1.47;
    letter-spacing: 0.17px;
    color: #fff;
    background-color: #16c0ef;
    padding: 8px 10px;
}

.comment-box {
    border: solid 1px #e0e6ee;
    height: 90px;
    width: 100%;
    color: #5d677e;
    text-align: left;
    padding: 0 0 0 0 !important;
}

.comment-circle {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #e0e6ee;
}

.share-follow-btn button {
    border-radius: 3px;
    border: solid 1px #e0e6ee;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.share-follow-btn button img {
    width: 14px;
    object-fit: contain;
    position: relative;
    left: -2px;
    top: -2px;
}

.s-btn {
    background: url('../img/share-checked.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 6px 33px!important;
    background-size: 17px;
}

.s-btn:hover {
    background-color: #16c0ef!important;
    color: #fff!important;
    background: url('../img/share-grey.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;
}

.f-btn:hover {
    background-color: #16c0ef!important;
    color: #fff!important;
}

.f-btn:focus {
    outline: none!important;
}

#f-btn {
    color: #16c0ef !important;
    font-family: HKGrotesk;
    cursor: pointer;
}

#f-btn:hover {
    color: #fff!important;
}

.f-btn label {
    background: url('../img/follow-grey.png');
    background-repeat: no-repeat;
    background-position: 10px 8px;
    padding: 10px 0px 0px 16px !important;
    height: 35px;
    width: 100px;
    margin-bottom: 0;
}

.s-btn,
.f-btn {
    color: #16c0ef !important;
    border: 1px solid #bce7f3 !important;
    font-family: HKGrotesk;
}

.btn:focus {
    box-shadow: none!important;
}

.del_edit_btn {
    font-family: HKGrotesk;
    font-weight: bold;
    color: #9ca6b3;
}

.fund-raise h3 {
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 0.12px;
    color: #2a3844;
}

.foundations h1 {
    font-size: 15px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.15px;
    color: #2a3844;
    margin: 0 0 3px 0;
}

.foundations img {
    width: 30px;
}

.foundations p {
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 0.14px;
    color: #5d677e;
    margin-bottom: 0;
}

.foundations label {
    color: #16c0ef;
    font-size: 14px;
    font-family: 'HKGrotesk';
}

.vivent-foundations {
    padding: 20px 25px;
    margin: 15px 0;
    border-radius: 3px;
    border: solid 1px #e0e6ee;
    background-color: #ffffff;
}

.vivent-foundations h1 {
    font-size: 13px;
    line-height: 1.45;
    letter-spacing: 0.12px;
    color: #5d677e;
    margin-bottom: 0;
}

.vivent-foundations img {
    position: relative;
    left: 10px;
}

.vivent-foundations h2 {
    font-size: 15px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.15px;
    color: #2a3844;
    margin-bottom: 0;
}

.vivent-foundations label {
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 0.14px;
    color: #5d677e;
}

.vivent-foundations p {
    font-size: 14px;
    line-height: 1.38;
    letter-spacing: 0.14px;
    color: #5d677e;
    padding: 13px 0 0px 14px;
}

.vivent-foundations p span {
    color: #16c0ef;
    font-family: HKGrotesk;
}

.report-wrapper {
    padding: 0 20px 40px;
}

.report-wrapper p {
    font-size: 13px;
    line-height: 1.8;
    color: #7c8796;
    margin-bottom: 0;
}

.report-wrapper a {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 1.69;
    font-family: 'HKGrotesk';
    font-weight: bold;
    color: #7c8796;
    padding: 3px 0;
    text-decoration: none;
}

.report-wrapper a:hover {
    color: #7c8796;
    text-decoration: none;
}

.report-wrapper a img {
    padding-right: 7px;
    object-fit: contain;
    width: 18px;
}

.report-wrapper h3 {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #bac3cf;
}

.milestone-wrapper {
    border-bottom: 1px solid #eef0f5;
    padding: 0 0 15px;
}

.events-wrapper label {
    font-size: 14px;
    font-family: HkGrotesk;
    padding-top: 20px;
}

.date-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.date-wrapper .date {
    width: 45px;
    text-align: center;
    border-radius: 2px;
    border: solid 1px #395366;
    margin-top: 10px;
    display: inline-block;
}

.date-wrapper .date .active {
    padding: 5px 0;
    background: #16c0ef;
    color: #fff;
    font-size: 10px;
}

.date-wrapper b {
    padding: 7px 0;
}

.date-wrapper .date span {
    padding: 5px 0;
    background: #e0e6ee;
    color: #000;
    font-size: 10px;
}

.date-wrapper .date-active-ptr {
    background-image: url('../img/ptr-active.png');
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 14px;
    position: absolute;
    left: -35px;
}

.date-wrapper .date-ptr {
    background-image: url('../img/ptr.png');
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 14px;
    position: absolute;
    left: -35px;
}

.details .image {
    width: 150px;
    height: 100px;
}

.milestone-wrapper h1 {
    font-size: 17px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    color: #2e404e;
    padding-top: 20px;
}

.milestone-wrapper .events-wrapper {
    padding-left: 34px;
    background-image: url('../img/line.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px 80px;
}

.milestone-wrapper p {
    text-align: justify;
}

.milestone-title h4 {
    padding: 12px 0 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: normal;
    color: #a1a8b3;
}

.milestone-title h2 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.41;
    letter-spacing: 0.24px;
    color: #2a3844;
    position: relative;
}

.milestone-title {
    width: 100%;
    padding-left: 10px;
}

.milestone-title span {
    position: absolute;
    right: 80px;
    font-size: 15px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    letter-spacing: 0.16px;
    color: #00c8f5;
    cursor: pointer;
}

.add-wrapper .header-section {
    padding: 20px 0;
    border-bottom: 1px solid #eef0f5;
}

.add-wrapper .header-section h5 {
    font-size: 15px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    letter-spacing: 0.16px;
    color: #00c8f5;
    cursor: pointer;
}

.add-wrapper .header-section p {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #7c8796;
    padding: 10px 0;
}

.title-section .heading {
    width: 75%;
    padding: 14px 18px 8px;
    border: 1px solid #eef0f5;
    height: 60px;
    border-radius: 3px;
    overflow: hidden;
}

.heading h1,
.title-datewrapper label {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.18px;
    color: #7c8796;
}

.heading .title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.21px;
    color: #2a3844;
    border: none;
    outline: none;
    padding: 0!important;
}

.title::placeholder {
    color: #2a3844;
}

.title-datewrapper {
    width: 38%;
    padding: 8px 18px;
    border: 1px solid #eef0f5;
    height: 60px;
    position: relative;
    border-radius: 3px;
}

.title-datewrapper img {
    position: absolute;
    right: 30px;
    top: 17px;
}

.add-wrapper .adder {
    font-size: 17px;
    font-family: 'HKGrotesk';
    font-weight: bold;
    line-height: 1.29;
    color: #2e404e;
    padding: 10px 0;
}

.text-editor-wrapper .buttons span {
    position: absolute;
    right: 15px;
    font-size: 12px;
    top: 11px
}

.text-editor-wrapper .buttons span img {
    position: relative;
    top: -1px;
    right: 6px;
}


/* project-edit page style css */

.save_btn {
    padding: 8px 35px;
    border: none;
}

.add-project-pics {
    height: 330px;
    width: 99%;
}

.prof-pic {
    width: 89px!important;
    height: 89px;
}

.prof-pic img {
    margin: 0 auto;
}

.project-inputs {
    width: 100%;
    margin: 10px 0 0;
}

.sub-icons-1 {
    position: relative;
    top: 2px;
    object-fit: contain;
}

.school-input {
    font-family: HKGrotesk;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.36;
    letter-spacing: 0.3px;
    color: #2a3844;
}

.link-inputbox {
    font-family: HKGrotesk;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.14px;
    color: #2a3844;
    max-width: 100%!important;
}

.link-inputbox input {
    padding: 6px 0;
}

.p-dates input {
    height: 20px;
    width: 260px;
}

.p-dates img {
    position: relative;
    top: -13px;
}

.p-dates label {
    margin-bottom: 0;
}

.school-input:focus {
    border: 1px solid #00c8f5!important;
}

.edit-input textarea {
    height: 95px;
    padding: 6px 17px;
    font-family: HKGrotesk;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.47;
    color: #2a3844;
    max-width: 100%!important;
}

.editor-project {
    padding-bottom: 0;
    padding-top: 0;
}

.editor-project textarea {
    font-family: HKGrotesk-reg;
    font-size: 15px;
    line-height: 1.47;
    color: #2a3844;
    height: 450px!important;
}

.media-pdf-btn .btn {
    border-radius: 5px!important;
    border: solid 1px #e0e6ee!important;
    background-color: #ffffff;
    font-family: HKGrotesk;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.47;
    letter-spacing: 0.15px;
    text-align: center;
    color: #5d677e;
    padding: 14px 48px!important;
}

.media-pdf-btn .pdf {
    border: solid 1px #e0e6ee;
    background-color: #f7f8fa;
}

.target_amt .amount span {
    font-family: HKGrotesk-reg;
    font-size: 24px;
    font-weight: 600;
    line-height: 0.92;
    letter-spacing: 0.34px;
    text-align: center;
    color: #bac3cf;
}

.target_amt h3 {
    font-family: HKGrotesk;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.18px;
    color: #2a3844
}

.ability,
.location {
    position: relative;
    padding: 0px!important;
    margin-top: 0px!important;
}

.location select,
.ability select {
    padding: 0 0 0 24px!important
}

.ability img,
.location img {
    position: absolute;
    top: 9px;
    left: 6px;
}

#locked {
    opacity: 0.45;
}

.p-del {
    margin-left: 100px!important;
}

.at-btn img {
    object-fit: contain;
    width: 20px!important;
}

@media(max-width:600px) {
    .modal-header {
        padding-bottom: 45px!important;
    }
    .btn_save_publish {
        position: relative;
        top: 58px;
        left: 0;
        width: 246px;
    }
    .del_edit_btn {
        position: relative;
        top: 7px;
        left: 4px;
    }
    .project-preview-title {
        width: 207px;
    }
    .project-preview-sub-title {
        padding: 0 0 13px 0;
    }
    .close {
        margin: 0!important;
        padding: 0;
        width: 72px;
    }
    .close img {
        position: relative;
        left: 28px;
        bottom: 16px;
        width: 18px;
    }
    .btn_save_publish .draft_btn {
        position: relative;
        right: 148px;
        top: 15px;
    }
    .btn_save_publish .publish_btn {
        position: relative;
        bottom: 27px;
    }
    p {
        text-align: justify;
    }
    .donateButton {
        background-position: 100px 8px;
    }
    .f-btn {
        width: 100%!important;
    }
    .s-btn:hover {
        background-position: 100px 7px;
    }
}

@media(max-width:375px) {
    .btn_save_publish .draft_btn {
        padding: 11px 28px 8px 33px!important;
        margin: 0!important;
        background-position: 8px 13px;
    }
    .title-datewrapper img {
        top: 30px;
    }
    .f-btn {
        width: 100%!important;
    }
}

@media(max-width:360px) {
    .btn_save_publish .draft_btn {
        padding: 11px 16px 7px 26px!important;
    }
    .title-datewrapper h4 {
        font-size: 12px;
    }
    .title-datewrapper h1 {
        font-size: 10px;
    }
    .milestone-title span {
        position: unset;
        display: block;
    }
    .milestone-wrapper h1 {
        padding: 20px 25px 0;
    }
    .detailsp {
        padding: 10px 40px 0 0px!important;
    }
    .f-btn {
        width: 100%!important;
    }
    .s-btn:hover {
        background-position: 100px 7px;
    }
}

@media(max-width:768px) {
    .btn_save_publish {
        position: relative;
        left: 11px;
    }
    .foundations p {
        font-size: 12px;
    }
    .foundations img {
        width: 30px;
        margin: 0 auto;
    }
    .vivent-foundations img {
        width: 30px;
        margin: 0 auto;
    }
    .vivent-foundations label {
        font-size: 12px;
    }
    .vivent-foundations p {
        font-size: 12px;
        padding: 13px 0 0px 0px;
    }
    .donateButton {
        font-size: 12px!important;
    }
    .title-datewrapper label {
        font-size: 10px;
    }
    .title-datewrapper input {
        width: 18px;
    }
    .text-editor-wrapper .action-btn {
        display: flex;
    }
    .detailsp {
        padding: 0px 69px 0 20px!important;
    }
    .milestone-title span {
        position: unset;
        display: block;
    }
    .carousel-control-prev {
        margin: 39px 0;
    }
    .carousel-control-next {
        margin: 39px 0;
    }
    .project-preview-sub-title {
        font-size: 12px;
    }
    .edit-input textarea {
        height: 145px;
    }
    .project-inputs {
        width: 100%;
    }
    .media-pdf-btn .btn {
        padding: 8px 31px!important;
        font-size: 13px;
    }
    .s-btn {
        background-position: 103px 7px;
    }
    .p-dates input {
        height: 25px;
        width: 100px;
    }
    .f-btn {
        width: 100%!important;
    }
}

@media(max-width:320px) {
    .btn_save_publish .draft_btn {
        padding: 7px 3px 10px 24px!important;
        width: 130px!important;
    }
    .delete {
        position: absolute;
        right: 24px;
        top: 34px;
    }
    .delete img {
        position: relative;
        left: 0px;
        bottom: 0px;
        width: 18px
    }
    .gj-picker.gj-picker-md.datepicker.gj-unselectable {
        left: 13px!important;
    }
    .s-btn {
        background-position: 80px 7px;
    }
    .f-btn {
        width: 100%!important;
    }
    .s-btn:hover {
        background-position: 100px 7px;
    }
}

@media(max-width:1024px) {
    .btn_save_publish {
        position: relative;
        left: 11px;
    }
}