.cover-photo {
    display: block;
    position: relative;
    height: 315px;
    overflow: hidden;
    text-decoration: none;
    max-height: 300px;
    object-fit: cover;
}

.profile-photo {
    position: relative;
    left: 6%;
    max-height: 140px;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: -45px;
}

.profile-overlay {
    width: 115px;
    height: 90px;
    position: relative;
    left: 7%;
    border-radius: 50%;
    margin-top: -90px;
    overflow: hidden;
}

.profile-photo-height {
    max-height: 300px;
    object-fit: cover;
}

.comment-box {
    /* border-radius: 50%; */
    background-color: #f9fafc;
    border: solid 1px #e0e6ee;
    border-radius: 30px;
}

.comment-box-color {
    background-color: #f9fafc !important;
}

.profile-edit-button {
    height: 30px;
    margin-top: 60px;
    width: 115px;
    background-color: #333b3f;
    opacity: 0.9;
    color: #ffffff !important;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.intro-text {
    font-weight: 900;
}

.overlay-trigger .overlay-item {
    display: none;
}

.overlay-trigger:hover .overlay-item {
    display: flex;
}

.modal-close-text {
    color: #7c8796;
}

.d-flex {
    display: flex;
}

.datepicker {
    z-index: 999999 !important;
}

.selectpicker+button, .bootstrap-select .dropdown-toggle {
    height: 40px;
    width: 100px !important;
    border: 0 !important;
    background-color: #ffffff !important;
}

.bootstrap-select .dropdown-toggle:focus, .selectpicker+button:focus {
    box-shadow: none;
    outline: none !important;
    border: none !important;
}

.btn span:not(.text) {
    background-color: transparent !important;
}

.tab-content {
    display: block !important;
}

.nav-link.active {
    color: deepskyblue !important;
    border-bottom: 2px solid deepskyblue !important;
    background-color: transparent !important;
}

.nav-link {
    border: none !important;
    color: #7c8796 !important;
}

.modalcontent {
    width: 55%;
    max-width: 700px !important;
}

#work-to-present {
    background-color: #e9ecef;
}

.modalcontent {
    margin-top: 0;
    position: absolute !important;
    border-radius: 10px;
}

.pop-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.countryInput {
    width: 40%;
}

.bootstrap-select .bs-ok-default:after {
    border-width: 0 .15em .15em 0 !important;
}

.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-item {
    background-color: transparent !important;
    color: inherit !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

input[type=text] {
    padding: 4px 20px 0px 12px;
}

.syne-inputbox .dropdown-toggle {
    padding-left: 0 !important;
}

.bg-grey-light {
    background-color: #edf1f5 !important;
}

.font-weight-normal {
    font-weight: normal;
}

.flex-v-base {
    align-items: baseline;
}

.add-bio {
    font-size: 13px;
    color: #7c8796;
    opacity: 0.9;
    margin-top: 10px;
    font-weight: bold;
}

.light-grey-placeholder::placeholder {
    color: #bac3cf !important;
}

.experience-container:not(:first-child) {
    border-top: 1px solid #dee2e6;
    margin-top: 15px;
    padding-top: 15px;
}

.experience {
    display: flex;
}

.experience-image {
    height: 100%;
    display: flex;
    align-items: flex-start;
    margin-right: 1rem;
}

.experience-image img {
    min-height: 70%;
    border: 1px solid #e9ecef;
    padding: 10px;
}