.project-preview-title {
    font-size: 28px;
    color: #2a3844;
    font-family: HKGrotesk;
}

.project-preview-sub-title {
    font-size: 13px;
    color: #7c8796;
}
.email-activation {
    /* height: 159px; */
    background-color: #e3f9ff;
}

.email-activation-title {
    font-family: HKGrotesk;
    font-size: 23px;
    color: #2a3844;
}
.email-activation-text {
    font-size: 15px;
    color: #2a3844;
}

.email-activation-action-text {
    font-family: HKGrotesk;
    font-size: 15px;
    color: #16c0ef;
}

.email-activation-mail {
    font-family: HKGrotesk;
}

.project-preview-desc {
    font-size: 15px;
    color: #2a3844;
}

.project-preview-primary-desc {
    font-family: HKGrotesk;
}

.project-link {
    background-color: #f2f4f7;
}

.raised-amount {
    font-size: 23px;
    color: #2a3844;
}

.taret-amount-desc {
    font-size: 13px;
    color: #5d677e;
}

.donateButton {
    /* height: 40px; */
    border-radius: 3px !important;
    background-color: #16c0ef !important;
    color: white !important;
    font-weight: bold !important;
}

.view-count {
    font-size: 17px;
    font-family: HKGrotesk;
    color: #2a3844;
}

.donors-text {
    font-size: 13px;
    color: #5d677e;
}
.project-preview-amount-raised-percentage {
    font-size: 13px;
    font-weight: bold;
    color: #2a3844;
}
.project-preview-amount-raised-time {
    font-size: 13px;
    color: #fb4f6d;
}