.project-preview-title {
    font-size: 28px;
    color: #2a3844;
    font-family: HKGrotesk;
}

.project-preview-sub-title {
    font-size: 13px;
    color: #7c8796;
}
.email-activation {
    /* height: 159px; */
    background-color: #e3f9ff;
}

.email-activation-title {
    font-family: HKGrotesk;
    font-size: 23px;
    color: #2a3844;
}
.email-activation-text {
    font-size: 15px;
    color: #2a3844;
}

.email-activation-action-text {
    font-family: HKGrotesk;
    font-size: 15px;
    color: #16c0ef;
}

.email-activation-mail {
    font-family: HKGrotesk;
}

.project-preview-desc {
    font-size: 15px;
    color: #2a3844;
}

.project-preview-primary-desc {
    font-family: HKGrotesk;
}

.project-link {
    background-color: #f2f4f7;
}

.raised-amount {
    font-size: 23px;
    color: #2a3844;
}

.taret-amount-desc {
    font-size: 13px;
    color: #5d677e;
}

.donateButton {
    /* height: 40px; */
    border-radius: 3px !important;
    background-color: #16c0ef !important;
    color: white !important;
    font-weight: bold !important;
}

.view-count {
    font-size: 17px;
    font-family: HKGrotesk;
    color: #2a3844;
}

.donors-text {
    font-size: 13px;
    color: #5d677e;
}
.project-preview-amount-raised-percentage {
    font-size: 13px;
    font-weight: bold;
    color: #2a3844;
}
.project-preview-amount-raised-time {
    font-size: 13px;
    color: #fb4f6d;
}
.date-wrapper .date .active {
    padding: 5px 0;
    background: #16c0ef;
    color: #fff;
    font-size: 10px;
}
.date-wrapper .date {
    width: 45px;
    text-align: center;
    border-radius: 2px;
    border: solid 1px #395366;
    margin-top: 10px;
    display: inline-block;
}
.oval {
    width: 17px;
    height: 17px;
    border: solid 4px #16c0ef;
    background-color: #ffffff;
  }

  .title-milestone
  {
    border-radius: 3px;
    border: solid 1px #16c0ef;
    background-color: #ffffff;
    height: 54px;
  }
  .title-datewrapper img {
  height: 24px;
  width: 24px;
}
textarea {
    height: 200px;
    border-radius: 3px;
    border: solid 1px #e0e6ee;
    background-color: #ffffff;
    resize: none !important;
}
.text-editor-wrapper .btn img {
    width: 12px;
}
.Rectangle {
        font-size: 15px;
        font-family: 'HKGrotesk-bold';
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: 0.17px;
        color: #fff;
        background-color: #16c0ef;
        padding: 8px 10px;
  }

  .comment-box
  {
    border: solid 1px #e0e6ee;
    height:90px;
    width: 100%;
    color:#5d677e;
    text-align:left;
    padding: 0 0 0 0 !important;
  }

  .comment-circle
  {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background-color: #e0e6ee;

  }