.my-nav-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.my-nav {
    margin-bottom: -1px !important;
}

.my-nav-tab {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
}

.my-nav-tab.active {
    border-bottom: 3px solid #16c0ef;
}

.my-nav-tab a {
    color: #7c8796;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-nav-tab a:hover {
    text-decoration: none !important;
    color: #7c8796 !important;
}

.my-nav-tab.active a {
    color: #16c0ef;
}

.my-nav-tab:not(.active) .tab-image-active {
    display: none;
}

.my-nav-tab.active .tab-image-default {
    display: none;
}

.tab-image {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    height: 80px;
}

.tab-content {
    display: block !important;
}

.down-arrow {
    transform: rotate(90deg);
}

.selectize-control {
    display: flex;
    height: 100%;
    align-items: center;
}

.selectize-input {
    padding: 0;
}

.selectize-input input {
    color: #2a3844 !important;
    font-size: 15px;
    font-weight: bold;
}

.countryInput {
    background-color: #ffffff;
}

.countryInput2 {
    width: 30% !important;
}

.countryInput3 {
    width: 23% !important;
    padding: 0 2px 0 0;
}

.countryInput3 .selectize-control {
    border: 0 !important;
}

.featred-prjcts {
    margin-top: 0px !important;
}

.project-showcase {
    background-color: transparent !important;
}

.featred-prjcts {
    padding-left: 0 !important;
}

.ftrd-title {
    font-weight: 600;
}

.prjct-h-dscrp h5 {
    font-weight: 600;
}

.prjct-tag span {
    text-transform: uppercase;
    font-weight: 600;
}

.prjct-v-box {
    width: 30% !important;
}

.project-title-input::placeholder,
.countryInput2 ::placeholder,
.countryInput3 ::placeholder {
    color: #bac3cf !important;
    font-size: 14px;
}

.project-title-input,
.countryInput2 .item,
.countryInput3 .item {
    font-size: 14px;
}

.countryInput2 .item,
.countryInput3 .item,
.selectize-dropdown {
    color: #2a3844 !important;
    font-weight: 600;
    padding-left: 8px;
}

.selectize-dropdown-content {
    font-weight: bold;
    cursor: pointer;
}

.syne-inputbox div.selectize-input {
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
}

.more-prjct-btn {
    font-weight: 600;
    color: #bac3cf;
}

.progress-bar {
    background-color: #e0e6ee !important;
    height: 6px !important;
    margin-bottom: 16px;
}

.prograss-bar-inner {
    background-color: #16c0ef !important;
    height: 6px !important;
}