.btn {
    height: 38px;
}

.btn-sm {
    height: 30px;
}

.dropdown-item {
    font-size: 12px;
    color: #5d677e !important;
    padding: .5rem !important;
}

.dropdown-menu {
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(10, 11, 13, 0.2);
    background-color: #ffffff;
    margin: -30px 0 0 -30px !important;
}

.dropdown-toggle::after {
    margin-left: -.5em !important;
}