.btn {
    height: 38px;
}

.btn-sm {
    height: 30px;
}

.dropdown-item {
    font-size: 12px;
    color: #5d677e !important;
    padding: .5rem !important;
}

.dropdown-menu {
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(10, 11, 13, 0.2);
    background-color: #ffffff;
    margin: -30px 0 0 -30px !important;
}

.dropdown-toggle {
    color: #c1cad4;
}

.dropdown-toggle::after {
    margin-left: -.5em !important;
}

.user-comments-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.user-comment-item {
    display: flex;
}

.comment-user-img {
    margin-right: 10px;
}

.comment-content {
    display: inline;
    flex-grow: 1;
    padding: 8px 16px;
    background-color: #f3f5f8;
    border-radius: 19px;
    font-size: 13px;
    color: #5d677e;
}

.comment-user-name {
    font-size: 13px;
    font-weight: 600;
    color: #2a3844;
}

.comment-actions {
    display: none;
}

.user-comment-item:hover .comment-actions {
    display: block;
}

.like-comment {
    font-size: 14px;
    font-weight: 500;
    color: #7c8796;
    cursor: pointer;
}

.comment-time {
    font-size: 13px;
    font-weight: 500;
    color: #bac3cf;
    margin-left: 10px;
}

.show-more-comments {
    font-size: 13px;
    color: #1b7ad4;
    cursor: pointer;
    margin-top: 16px;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 4px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

.comment-edit-box {
    border: solid 1px #dde2e9 !important;
    border-radius: 3px !important;
    color: #2a3844 !important;
    font-size: 12px !important;
}