<!-- foooter -->
<div class="full-wrapper footer bg-lght-blue">
    <div class="main-wrapper">
        <div class="flex pd-80 footer-top">
            <div class="w20 footer-sub">
                <h4 class="mg-b-15">Quick Links</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="w20 footer-sub">
                <h4 class="mg-b-15">Backed by</h4>
                <ul>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
            <div class="w20 footer-sub">
                <h4 class="mg-b-15">Support</h4>
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
            <div class="w40 footer-sub">
                <form>
                    <div class="subscribe w100 bg-white flex flex-v-center">
                        <input class="w70" type="email" name="" placeholder="Enter your Email Address">
                        <a href="#" type="submit" class="w30 txt-blue text-right f14">Subscribe</a>
                    </div>
                </form>
                <div class="footer-social text-right mg-t-15">
                    <ul>
                        <li>
                            <a href="#"><img src="img/facebook.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/twitter-logo.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/linkedin-sign.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/youtube-logo.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="main-wrapper">
            <span class="left f12">&copy; 2019 Syne.com</span>
            <ul class="right">
                <li class="left"><a href="#" class="txt-grey f12">Terms & Condition.</a></li>
                <li class="left"><a href="#" class="txt-grey f12">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end footer -->