<div class="px-4 py-4">
    <div id="left-panel-user-details">
        <div class="full-name">
            Vinith Gopal
        </div>
        <div class="user-name mt-2">
            @vinithgopalofficial
        </div>
        <div class="mt-2">

            <div class="d-flex align-items-center">
                <img style="height: 24px;" class="pr-2" src="img/svgImages/location-grey-small.svg">
                <span class="follower-text" style="color: deepskyblue;font-weight: bold;">
                    kochi
                </span>
            </div>
            <div>
                <div class="follower-text">Add a short bio to tell people more about yourself</div>
            </div>
            <div class="line-seperator my-3"></div>
            <div class="d-flex justify-content-between flex-wrap">
                <div>
                    <div class="follower-count modal-btn" href="#syne-followers" data-target="syne-followers">498
                    </div>
                    <a class="follower-text">Followers</a>
                </div>
                <div>
                    <div class="follower-count">8</div>
                    <div class="follower-text">Following</div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center my-3 followButton text-center w-100">
                <img class="pr-2 followIcons" src="img/svgImages/interface.svg">Follow
            </div>
            <div class="d-flex align-items-center justify-content-center my-3 followingButton text-center w-100">
                <img class="pr-2 followIcons" src="img/svgImages/rss-grey.svg">
                <img class="pr-2 followIcons" src="img/svgImages/rss-red.svg">
            </div>
            <div class="d-flex align-items-center justify-content-center my-3 unfollowButton text-center w-100">
                <img class="pr-2 followIcons" src="img/svgImages/rss-red.svg">Unfollow
            </div>
        </div>
    </div>
</div>