<!-- left panel template -->
<div class="px-4 py-4">
    <div class="full-name">
        Vinith Gopal
    </div>
    <div class="user-name mt-2">
        @vinithgopalofficial
    </div>
    <div class="mt-2">
        <div class="d-flex align-items-center">
            <img style="height: 24px;" class="pr-2" src="img/svgImages/location-grey-small.svg">
            <span class="follower-text" style="color: deepskyblue;font-weight: bold;">
                kochi
            </span>
        </div>
        <div>
            <div class="follower-text">Add a short bio to tell people more about yourself</div>
        </div>
        <div class="line-seperator my-3"></div>
        <div class="d-flex justify-content-between flex-wrap">
            <div>
                <div class="follower-count modal-btn" href="#syne-followers" data-target="syne-followers">498</div>
                <a class="follower-text">Followers</a>
            </div>
            <div>
                <div class="follower-count">8</div>
                <div class="follower-text">Following</div>
            </div>
        </div>
        <div class="menu-items-wrapper">
            <div class="menu-items py-4" id="left-panel-tabs">
                <a class="d-flex py-3 pl-3 align-items-center" href="timeline.html" id="syne-tab1">
                    <img src="img/svgImages/timeline-grey-small.svg">
                    <div class="px-2">Timeline</div>
                </a>
                <a class="d-flex py-3 pl-3 align-items-center" href="about-me.html" id="syne-tab2">
                    <img src="img/svgImages/about-me-grey-small.svg">
                    <div class="px-2">About Me</div>
                </a>
                <a class="d-flex py-3 pl-3 align-items-center" href="my-projects.html" id="syne-tab3">
                    <img src="img/svgImages/project-icon-grey-small.svg">
                    <div class="px-2">Projects</div>
                </a>
                <a class="d-flex py-3 pl-3 align-items-center" href="events.html" id="syne-tab4">
                    <img src="img/events-grey-small.png">
                    <div class="px-2">Events</div>
                </a>
                <a class="d-flex py-3 pl-3 align-items-center" href="stories.html" id="syne-tab5">
                    <img src="img/stories-grey-small.png">
                    <div class="px-2">Stories</div>
                </a>
                <a class="d-flex py-3 pl-3 align-items-center" href="organisation.html" id="syne-tab6">
                    <img src="img/org-grey-small.png">
                    <div class="px-2">Organisations</div>
                </a>
                <a class="d-flex py-3 pl-3 align-items-center" href="transactions.html" id="syne-tab7">
                    <img src="img/transaction-grey-small.png">
                    <div class="px-2">Transactions</div>
                </a>
                <a class="d-flex py-3 pl-3 align-items-center" href="settings-privacy.html" id="syne-tab8">
                    <img src="img/settings-grey-small.png">
                    <div class="px-2">Settings & Privacy</div>
                </a>
            </div>
            <div class="mt-2 pl-3">
                <div>
                    <img style="height: 24px;" class="pr-2" src="img/edit-blue-small.png">
                    <a style="color: deepskyblue;font-size: small" class="modal-btn" href="#syne-edit-profile"
                        data-target="syne-edit-profile">
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
