<!-- need to delete this file after left panel woking done -->
<!-- left panel template -->
<script id="template-left-panel-user-details" type="text/template">
    <div class="full-name pt-5">
        {{name}}
    </div>
    <div class="user-name mt-2">
        {{mailId}}
    </div>
    <div class="mt-2">
        
        <div class="d-flex align-items-center">
            <img style="height: 24px;" class="pr-2" src="img/svgImages/location-grey-small.svg">
            <span class="follower-text" style="color: deepskyblue;font-weight: bold;">
            {{location}}
            </span>
        </div>
       
    <div>            
        <div class="follower-text">{{userIntroDetails}}</div>
    </div>
    <div class="line-seperator my-3"></div>
    <div class="d-flex justify-content-between flex-wrap">
        <div>
            <div class="follower-count modal-btn" href="#syne-followers"
            data-target="syne-followers">{{followersCount}}</div>
            <a class="follower-text" >Followers</a>
        </div>
        <div>
            <div class="follower-count">{{followingCount}}</div>
            <div class="follower-text">Following</div>
        </div>

    </div>
    <div class="menu-items-wrapper">
        <div class="menu-items py-4" id="left-panel-tabs">
            <!-- left panel tabs template fill here -->
        </div>
        <div class="mt-2 pl-3">
            <div>
                <img style="height: 24px;" class="pr-2" src="img/edit-blue-small.png">
                <a style="color: deepskyblue;font-size: small" class="modal-btn" href="#syne-edit-profile"
                data-target="syne-edit-profile">
                Edit Profile
                </a>
                <!-- <a class="modal-btn">Edit Profile</a> -->
            </div>
        </div>
    </div>
</script>
<!-- left panel template end -->

<!-- left panel tabs template start -->
<script id="template-left-panel-tab-details" type="text/template">
    <a class="d-flex py-3 pl-3 align-items-center" href="{{path}}" id="syne-tab{{id}}">
        <img src="{{iconUrl}}">
        <div class="px-2">{{tabName}}</div>
    </a>
</script>
<!-- left panel tabs template end -->

<!-- left panel top banner template start -->
<script id="template-left-panel-top-banner" type="text/template">
    <div class="profile-top-banner">
        <img class="img-fluid w-100 profile-photo-height" src="{{coverPhotoUrl}}">
    </div>
    <!-- <div class="overlay-trigger">
        <img class="img-fluid profile-photo" src="img/user.png">
    </div> -->
</script>
<!-- left panel top banner template end-->

<!-- left panel top banner template start -->
<script id="template-top-banner" type="text/template">
    <div class="profile-top-banner">
        <img class="img-fluid w-100 profile-photo-height" src="{{coverPhotoUrl}}">
    </div>
    <div class="overlay-trigger">
        <img class="img-fluid profile-photo" src="img/user.png">
    </div>
</script>
<!-- left panel top banner template end-->