<div class="px-4 py-4">
    <div id="left-panel-user-details">
        <div class="full-name">
            Vinith Gopal
        </div>
        <div class="user-name mt-2">
            @vinithgopalofficial
        </div>
        <div class="mt-2">

            <div class="d-flex align-items-center">
                <img style="height: 24px;" class="pr-2" src="img/svgImages/location-grey-small.svg">
                <span class="follower-text" style="color: deepskyblue;font-weight: bold;">
                    kochi
                </span>
            </div>
            <div>
                <div class="follower-text">Add a short bio to tell people more about yourself</div>
            </div>
            <div class="line-seperator my-3"></div>
            <div class="d-flex justify-content-between flex-wrap">
                <div>
                    <div class="follower-count modal-btn" href="#syne-followers" data-target="syne-followers">498
                    </div>
                    <a class="follower-text">Followers</a>
                </div>
                <div>
                    <div class="follower-count">8</div>
                    <div class="follower-text">Following</div>
                </div>
            </div>
            <div class="menu-items-wrapper">
                <div class="mt-2 pl-3">
                    <div class="d-flex align-items-center">
                        <img style="height: 24px;" class="pr-2" src="img/svgImages/dob-grey-small.svg">
                        <span class="follower-text" style="color: deepskyblue;font-weight: bold;">
                            BirthDay - 02 Feb 2012
                        </span>
                    </div>
                </div>
                <div class="mt-2 pl-4">
                    <div class="d-flex align-items-center">
                        <img style="height: 24px;" class="pr-2" src="img/svgImages/location-grey-small.svg">
                        <span class="follower-text">
                            From <span style="color: deepskyblue; font-weight: bold;">kochin</span>
                        </span>
                    </div>
                </div>
                <div class="mt-2 pl-3">
                    <div>
                        <img style="height: 24px;" class="pr-2" src="img/edit-blue-small.png">
                        <a style="color: deepskyblue;font-size: small" class="modal-btn" href="#syne-edit-profile"
                            data-target="syne-edit-profile">
                            Edit Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>