<div id="left-panel-top-banner">
    <div class="profile-top-banner">
        <img class="img-fluid w-100 profile-photo-height" src="img/beautiful-flower-picture-facebook-cover.jpg">
    </div>
    <div class="overlay-trigger propic-menu">
        <img class="img-fluid top-banner-profile-photo" src="img/user.png">
    </div>
</div>
<!-- <div class="propic-menu">
    <img src="img/user.png" alt="profile pic" />
</div> -->
<div class="px-4 py-4">
    <div id="left-panel-user-details">
        <div class="full-name">
            Vinith Gopal
        </div>
        <div class="user-name mt-2">
            @vinithgopalofficial
        </div>

        <div>
            <div class="follower-text">Add a short bio to tell people more about yourself</div>
        </div>
        <div class="line-seperator my-3"></div>
        <div class="d-flex justify-content-between flex-wrap">
            <div class="followers">
                <div class="follower-count modal-btn" href="#syne-followers" data-target="syne-followers">498
                </div>
                <a class="follower-text">Followers</a>
            </div>
            <div class="followers">
                <div class="follower-count modal-btn" href="#syne-followers" data-target="syne-followers">8
                </div>
                <div class="follower-text">Following</div>
            </div>
        </div>
    </div>

    <div class="rectangle-menu">Menu</div>
    <div class="menu-items py-4" id="left-panel-tabs">
        <a class="d-flex py-3 align-items-center" href="timeline.html" id="syne-tab1">
            <div class="d-flex pl-4 "> 
                <img src="img/svgImages/timeline-grey-small.svg">
                <div class="px-2">Timeline</div>
            </div>
        </a>

        <a class="d-flex py-3 align-items-center" href="about-me.html" id="syne-tab2">
            <div class="d-flex w-100 pl-4"> 
                <img src="img/svgImages/about-me-grey-small.svg">
                <div class="px-2">About Me</div>
            </div>
        </a>

        <a class="d-flex py-3 align-items-center" href="my-projects.html" id="syne-tab3">
            <div class="d-flex w-100 pl-4"> 
                <img src="img/svgImages/project-icon-grey-small.svg">
                <div class="px-2">Projects</div>
            </div>
        </a>

        <a class="d-flex py-3 align-items-center" href="events.html" id="syne-tab4">
            <div class="d-flex w-100 pl-4"> 
                <img src="img/events-grey-small.png">
                <div class="px-2">Events</div>
            </div>
        </a>

        <a class="d-flex py-3 align-items-center" href="stories.html" id="syne-tab5">
            <div class="d-flex w-100 pl-4"> 
                <img src="img/stories-grey-small.png">
                <div class="px-2">Stories</div>
            </div>
        </a>

        <!-- <a class="d-flex py-3 align-items-center" href="saved-post.html" id="syne-tab6">
            <img src="img/svgImages/icon-saved-articles.svg">
            <div class="px-2">Saved Posts</div>
        </a> -->

        <a class="d-flex py-3 align-items-center" href="organisation.html" id="syne-tab7">
            <div class="d-flex w-100 pl-4"> 
                <img src="img/org-grey-small.png">
                <div class="px-2">Organisations</div>
            </div>
        </a>

        <a class="d-flex py-3 align-items-center" href="transactions.html" id="syne-tab8">
            <div class="d-flex w-100 pl-4"> 
                <img src="img/transaction-grey-small.png">
                <div class="px-2">Transactions</div>
            </div>
        </a>
    </div>
    <div class="d-flexRes">
        <img src="img/edit-blue-small.png" />
        <label>Edit Profile</label>
    </div>
    <div class="rectangle-menu-bar"></div>
    <div class="side-labels">Settings & Privacy</div>
    <div class="side-labels">Help & Feedback</div>
    <div class="side-labels">Advertise on SYNE</div>
    <div class="side-labels" style="color: red;margin-bottom: 50px;">Log out</div>
    <div class="mt-2">
        <div>
            <img style="height: 24px;" class="pr-2" src="img/edit-blue-small.png">
            <a style="color: deepskyblue;font-size: small" class="modal-btn" href="#syne-edit-profile"
                data-target="syne-edit-profile">
                Edit Profile
            </a>
        </div>
    </div>
</div>